<section class="about-me section" id="aboutme">
  <div class="container">
    <h2 class="about-me-title">about <span class="about-me-item">me</span></h2>
    <div class="about-me-container">
      <div class="about-me-images-container">
        <picture>
          <source
            srcset="
              /img/about-me-portret-desc1.avif,
              /img/about-me-portret-desc2.avif 2x
            "
            media="(min-width: 1280px)"
            width="384"
            height="448"
          />
          <source
            class="yacht-photo"
            srcset="
              /img/about-me-portret-tablet1.avif,
              /img/about-me-portret-tablet2.avif 2x
            "
            media="(min-width: 768px)"
            width="336"
            height="392"
          />
          <source
            class="yacht-photo"
            srcset="
              /img/about-me-portret-mobile1.avif,
              /img/about-me-portret-mobile2.avif 2x
            "
            media="(max-width: 768px)"
            width="320"
            height="374"
          />

          <img
            class="yacht-photo"
            src="/img/about-me-portret-desc1.avif"
            alt="view of the yacht inside"
          />
        </picture>
      </div>

      <span class="about-me-bg"></span>
      <div class="about-me-education-container">
        <h3 class="about-me-subtitle">education</h3>
        <ul class="about-me-education-list">
          <li class="about-me-education-list-item">
            2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
          </li>
          <li class="about-me-education-list-item">
            2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
            New York
          </li>
          <li class="about-me-education-list-item">
            2020 - 2022 / Advanced Blender Animation Techniques, Udemy
          </li>
        </ul>
      </div>

      <div class="about-me-bio-container">
        <h3 class="about-me-subtitle">bio</h3>
        <p class="about-me-p about-me-first-p">
          I'm Lloyd Jefferson, a talented programmer specializing in software
          development. My expertise spans various programming languages and
          technologies, and I am dedicated to continually enhancing my skills. I
          thrive on seeking unconventional and creative solutions to problems,
          leveraging a high level of analytical skills to effectively tackle
          even the most challenging tasks.
        </p>
        <p class="about-me-p">
          Adaptable to both independent and team-oriented work, I collaborate
          seamlessly with colleagues, exchanging ideas and finding optimal
          solutions. My professional maturity enables me to navigate challenges
          and stressful situations with a calm demeanor, maintaining a
          consistently high quality of work. Committed to self-improvement, I
          actively engage in studying new technologies and practices to stay
          current with the latest innovations in the field.
        </p>
      </div>

      <div class="about-me-role-container">
        <h3 class="about-me-subtitle">role</h3>
        <ul class="about-me-role-list">
          <li class="about-me-role-list-item">Frontend development</li>
          <li class="about-me-role-list-item">HeadlessCMS, Wordpress</li>
          <li class="about-me-role-list-item">Blender (enjoy)</li>
        </ul>
      </div>
    </div>
  </div>
</section>
