<section id="faq" class="section faq">
  <div class="container faq-container">
    <div class="faq-title hidden-element">
      <h2 class="faq-title-content">
        frequently asked <span class="faq-title-span-green">question</span>
      </h2>
      <div class="background-img-container"></div>
    </div>
    <div class="faq-content">
      <ul class="accordion-list faq-content-list">
        <li class="ac faq-content-item hidden-element">
          <div class="ac-faq-title">
            <div class="ac-trigger faq-acordeon-wrap" aria-label="show more">
              <h3 class="ac-header faq-content-item-title">
                What programming languages ​​are most often used in your
                project?
              </h3>
              <div class="faq-item-icon-wrap">
                <svg class="faq-item-icon faq-is-active" width="32" height="32">
                  <use href="./img/icons.svg#icon-button-down"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="ac-panel">
            <p class="ac-text faq-content-item-description">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="ac faq-content-item hidden-element">
          <div class="ac-faq-title">
            <div class="ac-trigger faq-acordeon-wrap" aria-label="show more">
              <h3 class="ac-header faq-content-item-title">
                What are the deadlines for the project?
              </h3>
              <div class="faq-item-icon-wrap">
                <svg class="faq-item-icon" width="32" height="32">
                  <use href="./img/icons.svg#icon-button-down"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="ac-panel hidden">
            <p class="ac-text faq-content-item-description">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="ac faq-content-item hidden-element">
          <div class="ac-faq-title">
            <div class="ac-trigger faq-acordeon-wrap" aria-label="show more">
              <h3 class="ac-header faq-content-item-title">
                What payment methods do you accept?
              </h3>
              <div class="faq-item-icon-wrap">
                <svg class="faq-item-icon" width="32" height="32">
                  <use href="./img/icons.svg#icon-button-down"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="ac-panel hidden">
            <p class="ac-text faq-content-item-description">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
        <li class="ac faq-content-item hidden-element">
          <div class="ac-faq-title">
            <div class="ac-trigger faq-acordeon-wrap" aria-label="show more">
              <h3 class="ac-header faq-content-item-title">
                How can I contact you?
              </h3>
              <div class="faq-item-icon-wrap">
                <svg class="faq-item-icon" width="32" height="32">
                  <use href="./img/icons.svg#icon-button-down"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="ac-panel hidden">
            <p class="ac-text faq-content-item-description">
              In the field of web development, there are various technologies
              and programming languages. Typically, this includes a combination
              of frontend (client side) and backend (server side) languages.
            </p>
          </div>
        </li>
        <li class="ac faq-content-item hidden-element">
          <div class="ac-faq-title">
            <div class="ac-trigger faq-acordeon-wrap" aria-label="show more">
              <h3 class="ac-header faq-content-item-title">
                Do you provide advice or support?
              </h3>
              <div class="faq-item-icon-wrap">
                <svg class="faq-item-icon" width="32" height="32">
                  <use href="./img/icons.svg#icon-button-down"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="ac-panel hidden">
            <p class="ac-text faq-content-item-description">
              The terms of project implementation depend to a large extent on a
              number of factors, such as the scope of the project, its
              complexity, and the availability of resources. Determining exact
              deadlines is a difficult task, and it usually occurs during the
              planning phase of the project.
            </p>
          </div>
        </li>
        <li class="ac faq-content-item hidden-element">
          <div class="ac-faq-title">
            <div class="ac-trigger faq-acordeon-wrap" aria-label="show more">
              <h3 class="ac-header faq-content-item-title">
                What does the process of developing a software product look like
                from idea to implementation?
              </h3>
              <div class="faq-item-icon-wrap">
                <svg class="faq-item-icon" width="32" height="32">
                  <use href="./img/icons.svg#icon-button-down"></use>
                </svg>
              </div>
            </div>
          </div>
          <div class="ac-panel hidden">
            <p class="ac-text faq-content-item-description">
              Payment through credit and debit cards such as Visa, MasterCard,
              specialized electronic payment systems such as PayPal, as well as
              payments in cryptocurrencies such as Bitcoin, Ethereum and others.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
