<header class="header">
  <nav class="nav container">
    <a class="page-logo" href="./index.html"
      >LLOYD<span class="logo-color">JEFFERSON.</span></a
    >

    <ul class="nav-list">
      <li class="nav-item">
        <label class="theme-switch">
          <input type="checkbox" id="theme-checkbox" />
          <span class="slider"></span>
        </label>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#aboutme">About me</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#project">Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contacts">Contacts</a>
      </li>
    </ul>

    <button class="mob-open-btn" type="button" data-menu-button>
      <svg class="mob-open-btn-icon" width="32" height="32">
        <use href="/img/icons.svg#icon-menu"></use>
      </svg>
    </button>
  </nav>
</header>
