<header class="header">
  <div class="container navig">
    <nav class="nav">
      <a class="page-logo" href="/index.html"
        >LLOYD<span class="logo-color">JEFFERSON.</span></a
      >
      <ul class="nav-list">
        <!-- <li class="nav-item">
          <label class="theme-switch">
            <input type="checkbox" id="theme-checkbox" />
            <span class="slider"></span>
          </label>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#my-projects">Project</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#work">Contacts</a>
        </li>
      </ul>
      <button class="mob-open-btn" type="button" data-menu-button>
        <svg class="mob-open-btn-icon" width="32" height="32">
          <use href="/img/icons.svg#icon-menu"></use>
        </svg>
      </button>
    </nav>
  </div>

  <div class="overlay">
    <div class="mob-menu" data-menu>
      <div class="mob-menu-header">
        <a class="page-logo mob-logo" href="./index.html"
          >LLOYD<span class="logo-color">JEFFERSON.</span></a
        >
        <button class="mob-menu-close-btn" data-menu-button-close>
          <svg class="mob-menu-close-btn-icon" width="36" height="36">
            <use href="/img/icons.svg#icon-close"></use>
          </svg>
        </button>
      </div>

      <div class="container mob-menu-cont">
        <nav class="mob-nav">
          <ul class="mob-nav-list">
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#about-me">About me</a>
            </li>
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#my-projects">Projects</a>
            </li>
            <li class="mob-nav-item">
              <a class="mob-nav-link" href="#work">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
