<section class="hero-section section">
  <div class="container hero-container">
    <div class="hero-bg-wrapper">
      <h1 class="title-names-one">Hello, I am</h1>
      <img
        class="img-hero-people"
        src="/img/hero-img.avif"
        srcset="/img/hero-img.avif 1x, /img/hero-img-2x.avif 2x"
        alt="me"
      />

      <h2 class="title-names-two">Fullstack developer</h2>

      <div class="hero-column">
        <a href="#work" class="hero-button-link">
          <svg class="img-title" width="30" height="16">
            <use href="/img/icons.svg#icon-arrow"></use>
          </svg>
          <p class="hero-button">Order the Project</p>
        </a>
        <div class="text-hero-container">
          <h3 class="text-hero">
            I work with people all over the world to create
            <span class="span-color">impressive</span> and
            <span class="span-color">functional websites</span> that reflect
            each client’s unique personality.
          </h3>
        </div>
      </div>
    </div>
  </div>

  <div class="back-color">
    <ul class="inline-list">
      <li class="li-fone">
        <a href="https://www.instagram.com/goitclub/" target="_blank"
          >Instagram</a
        >
      </li>
      <li class="li-fone">
        <a href="https://www.facebook.com/goITclub/" target="_blank"
          >Facebook</a
        >
      </li>
      <li class="li-fone">
        <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          >linkedIn</a
        >
      </li>
      <li class="li-fone">
        <a
          href="https://github.com/alex-usenko325/project-Dream4ce"
          target="_blank"
          >Github</a
        >
      </li>
    </ul>
  </div>
</section>
