<section class="hero-section section">
  <div class="container hero-container">
    <h1 class="title-names-one">Hello, I am</h1>
    <img class="img-hero-people" src="../img/img.png" />

    <h2 class="title-names-two">Fullstack developer</h2>

    <div class="hero-column">
      <div class="hero-button-link">
        <img class="img-title" src="../img/Arrow1.png" />
        <a href="#work" class="hero-button">Order the Project</a>
      </div>

      <h3 class="text-hero">
        I work with people all over the world to create
        <span class="span-color">impressive</span> and
        <span class="span-color">functional websites</span> that reflect each
        client’s unique personality.
      </h3>
    </div>

    <div class="back-color">
      <ul class="inline-list">
        <li class="li-fone">
          <a href="https://www.instagram.com/goitclub/">Instagram</a>
        </li>
        <li class="li-fone">
          <a href="https://www.facebook.com/goITclub/">Facebook</a>
        </li>
        <li class="li-fone">
          <a href="https://www.linkedin.com/school/goit-start-your-career-in-it"
            >linkedIn</a
          >
        </li>
        <li class="li-fone">
          <a href="">Github</a>
        </li>
      </ul>
    </div>
  </div>
</section>
