<section class="reviews section">
  <div class="container">
    <h1 class="title-reviews">reviews</h1>
    <div class="swiper-container">
      <ul class="menu-reviews swiper-wrapper"></ul>
      <div class="container-icon">
        <svg class="icon-arrow-left" width="24" height="24">
          <use href="/img/icons.svg#icon-arrow-narrow"></use>
        </svg>
        <svg class="icon-arrow-rigth" width="24" height="24">
          <use href="/img/icons.svg#icon-arrow-narrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
