<section class="reviews section">
  <div class="container">
    <h1 class="title-reviews">reviews</h1>
    <div class="swiper-container">
      <ul class="menu-reviews swiper-wrapper">
        <!-- <li class="menu-item-reviews swiper-slide">
                    <p class="para-reviews">Work with was extraordinary! He turned out to be a very competent and responsible
                        specialist. The projects were
                        completed on time and the result exceeded my expectations</p>
                    <div class="container-reviews">
                        <img class="feat-icon" src="../img/bagraund/nameReviews1-nameImg.png.png" alt="Natalia Shevchenko">
                        <p class="para-img">Natalia Shevchenko</p>
                    </div>
                </li>
                <li class="menu-item-reviews swiper-slide">
                    <p class="para-reviews">I have the honor to recommend him as an exceptional professional in his field. His
                        knowledge and expertise are
                        undeniable. Cooperation with him always brings impressive results.</p>
                    <div class="container-reviews">
                        <img class="feat-icon" src="../img/bagraund/nameReviews2-nameImg.png.png" alt="Dmytro Nazarenko">
                        <p class="para-img">Dmytro Nazarenko</p>
                    </div>
                </li> -->
      </ul>
      <div class="container-icon">
        <svg class="icon-arrow-left" width="24" height="24">
          <use href="/img/icons.svg#icon-arrow-narrow"></use>
        </svg>
        <svg class="icon-arrow-rigth" width="24" height="24">
          <use href="/img/icons.svg#icon-arrow-narrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
