<section class="tech-skills section">
  <h1 class="visually-hidden">Tech Skills</h1>

  <div class="marquee">
    <div class="marquee__inner">
      <ul class="marquee__line">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>React Native</li>
        <li>TypeScript</li>
      </ul>

      <ul class="marquee__line">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>React Native</li>
        <li>TypeScript</li>
      </ul>
    </div>
  </div>

  <div class="marquee-2">
    <div class="marquee__inner-2">
      <ul class="marquee__line-2">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>React Native</li>
        <li>TypeScript</li>
      </ul>

      <ul class="marquee__line-2">
        <li>HTML/CSS</li>
        <li>JavaScript</li>
        <li>React</li>
        <li>Node.js</li>
        <li>React Native</li>
        <li>TypeScript</li>
      </ul>
    </div>
  </div>
</section>
