/* ===================== common styles =============================== */
.about-me-title {
  text-transform: uppercase;
  font-family: Impact;
}
.about-me-item {
  color: #00b068;
}
.about-me-subtitle {
  text-transform: uppercase;
  margin-bottom: 32px;
  margin-top: 40px;
}
.about-me-education-list-item:last-child,
.about-me-role-list-item:last-child {
  margin-bottom: 0;
}

.about-me-first-p {
  margin-bottom: 24px;
}

.about-me-container {
  display: flex;
}
.about-me-education-list-item,
.about-me-role-list-item {
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
}

.about-me-education-list-item::before,
.about-me-role-list-item::before {
  content: '';
  position: absolute;
  left: 10px;
  top: 10px;
  display: block;
  width: 4px;
  height: 4px;
  background-color: #00b068;
  border-radius: 1px;
}

/* ============================MOBILE STYLES========================================= */
@media screen and (max-width: 767px) {
  .about-me-title {
    font-size: 52px;
    letter-spacing: 1.8px;
    line-height: 64px;
  }
  .about-me-subtitle {
    font-size: 32px;
    letter-spacing: 0.5px;
    line-height: 40px;
  }
  .about-me-p {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
  }

  .about-me-container {
    flex-direction: column;
  }
  .about-me-images-container {
    order: 1;
    margin-bottom: 40px;
  }
  .about-me-bio-container {
    order: 2;
    /* margin-bottom: 40px; */
  }
  .about-me-education-container {
    order: 3;
    /* margin-bottom: 40px; */
  }
  .about-me-role-container {
    order: 4;
  }
}
/* ============================/MOBILE STYLES========================================= */

/* ============================TABLET STYLES========================================= */
@media screen and (min-width: 768px) {
  .about-me-title {
    font-size: 108px;
    letter-spacing: 1.8px;
    line-height: 124px;
  }
  .about-me-container {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .about-me-images-container,
  .about-me-education-container {
    flex-basis: 48%;
  }

  .about-me-bio-container,
  .about-me-role-container {
    flex-basis: 336px;
  }
  .about-me-images-container {
    display: flex;
    align-items: end;
    margin-bottom: 60px;
  }

  .about-me-bg {
    position: absolute;
    background-image: -webkit-image-set(
      url(../img/background/decor-bg6.avif) 1x,
      url(../img/background/decor-bg6-2x.avif) 2x
    );
    top: 656px;
    right: 15px;
    width: 336px;
    height: 260px;
    background-repeat: no-repeat;
  }
  .about-me-bio-container {
    order: 1;
    margin-bottom: 140px;
  }
  .about-me-education-container {
    order: 2;
    /* margin-bottom: 40px; */
  }
  .about-me-role-container {
    order: 4;
  }

  .about-me-education-list-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
  }
  .about-me-role-list-item {
    position: relative;
    padding-left: 30px;
    margin-bottom: 16px;
  }

  .about-me-subtitle {
    font-size: 36px;
    letter-spacing: 0.5px;
    line-height: 48px;
    margin-top: 0;
  }
  .about-me-p {
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
  }
}

@media screen and (max-width: 1279px) {
  .about-me-title {
    margin-bottom: 40px;
  }
}

/* ============================/TABLET STYLES========================================= */

/* ============================DESKTOP STYLE========================================= */
@media screen and (min-width: 1280px) {
  .about-me-container {
    padding-left: 210px;
  }

  .about-me-images-container {
    margin-top: 355px;
    margin-bottom: 80px;
  }

  .about-me-bg {
    position: absolute;
    background-image: -webkit-image-set(
      url(../img/background/decor-bg2.avif) 1x,
      url(../img/background/decor-bg2-2x.avif) 2x
    );
    top: 536px;
    right: 25px;
    width: 400px;
    height: 288px;
    background-repeat: no-repeat;
  }
  .about-me-container {
    display: flex;
    flex-wrap: wrap;
  }
  .about-me-images-container,
  .about-me-education-container {
    flex-basis: 384px;
  }

  .about-me-bio-container,
  .about-me-role-container {
    flex-basis: 448px;
  }
}
/* ============================/DESKTOP STYLE(1440)========================================= */
