.benefits-title {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 40px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.benefits-title span {
  color: var(--accent-green);
}

.benefits-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 32px;
}
.bung {
  display: none;
}
.benefits-list-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.benefits-list-item-icon {
  border-radius: 8px;
  stroke: var(--accent-green);
  fill: transparent;
  background-color: var(--light-accent);
  padding: 12px;
}

.benefits-list-item-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  text-transform: uppercase;
}

.benefits-list-item-text {
  font-weight: 300;
  font-size: 16px;
}

.benefits-bg {
  display: none;
}

@media only screen and (min-width: 768px) {
  .benefits-title {
    font-size: 108px;
    margin-bottom: 0;
    line-height: 124px;
    letter-spacing: 0.02em;
  }

  .bung:first-of-type {
    display: block;
    width: 336px;
  }
  .benefits-list-item {
    border-radius: 16px;
    width: 336px;
  }

  .benefits-list-item-title {
    font-size: 20px;
    line-height: 1.6;
  }
}

@media only screen and (min-width: 1280px) {
  .benefits-container {
    max-height: 678px;
  }
  .benefits-title {
    width: 690px;
  }

  .benefits-list {
    max-width: 1280px;
    position: relative;
    top: -100px;
  }

  .bung:first-of-type {
    display: block;
    width: 384px;
  }

  .bung {
    display: block;
    width: 384px;
  }
  .benefits-list-item {
    width: 384px;
  }
  .benefits-bg {
    display: block;
    position: absolute;
    background-image: -webkit-image-set(
      url(../img/background/decor-bg3.avif) 1x,
      url(../img/background/decor-bg3-2x.avif) 2x
    );
    top: -505px;
    right: 20px;
    width: 550px;
    height: 420px;
    background-repeat: no-repeat;
  }
}
