body.dark-theme {
    background-color: #2a2d32;
    color: #e4e5e6;
}

/* Other components affected by the theme switch */
body.dark-theme .page-logo {
    color: #e4e5e6;
}

body.dark-theme .nav-link,
body.dark-theme .mob-nav-link {
    color: #e4e5e6;
}

body.dark-theme .theme-checkbox {
    background-color: #2a2d32;
}

body.dark-theme .mob-menu {
    background-color: #292929;
}