.header {
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  align-items: center;
  gap: 16px;
}

.page-logo {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #292929;
  line-height: 1;
}

.logo-color {
  color: #00b068;
}

.nav-list {
  display: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #00b068;
}

.mob-open-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}

.mob-open-btn-icon {
  fill: #2f2f37;
}

/* ------- Theme Switcher --------- */

.theme-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  width: 48px;
  height: 24px;
  cursor: pointer;
  background-color: #e4e5e6;
  border-radius: 16px;
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    top: 2px;
    left: 2px;
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &::before {
    background-color: #2a2d32;
    opacity: 0;
  }

  &::after {
    background-color: #00b068;
  }

  &:checked {
    background-color: #2a2d32;

    &::before {
      transform: translateX(calc(80%));
      background-color: #2a2d32;
      opacity: 1;
      z-index: 10;
    }

    &::after {
      transform: translateX(calc(100% + 3px));
    }
  }
}

/* --- Tablet  --- */
@media (min-width: 768px) {
  .header {
    padding: 32px 0;
  }
  .page-logo {
    font-size: 32px;
  }
  .nav {
    gap: 40px;
  }

  .nav-list {
    display: flex;
    gap: 40px;
  }

  .mob-menu-cont {
    display: none;
  }
  .mob-open-btn {
    display: none;
  }
  .theme-checkbox {
    margin: 0 40px 0 auto;
  }
}

/* --- Desktop (1280px +) --- */
@media (min-width: 1280px) {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  .is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transform: translateX(0);
    display: flex;
  }
  .mob-menu-cont {
    display: none;
  }

  .theme-checkbox {
    display: block;
  }
  .mob-open-btn {
    display: none;
  }
}

/* Mobile Menu Styles */
.mob-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 20px;
  z-index: 999;
  background-color: #f0f0f0;
  opacity: 0;
  overflow: auto;
  visibility: hidden;
  pointer-events: none;
  transform: translateX(100%);
  transition: all 350ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-menu.is-open {
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.mob-menu-cont {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-grow: 1;
  padding: 0 20px;
  background-image: url(../img/background/decor-bg8.png);
}

.page-logo.mob-logo {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 24px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.logo-color {
  color: #00b068;
}

.mob-nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  width: 100%;
}

.mob-nav-item {
  margin-bottom: 20px;
}

.mob-nav-link {
  transition: color 0.3s ease;
  text-decoration: none;
}

.mob-nav-link:hover,
.mob-nav-link:focus {
  color: #00b068;
}

.mob-menu-close-btn {
  position: absolute;
  top: 20px;

  right: 20px;
  line-height: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  stroke: #1c2225;
  z-index: 1000;
}
