.title-names-one {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* padding-top: 112px; */
}
.title-names-two {
  font-family: Impact, sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--accent-green);
  /* margin-bottom: 40px; */
}

.hero-button-link {
  position: relative;
  white-space: nowrap;
  display: flex;
  gap: 12px;
  z-index: 5;
  align-items: center;
  max-width: 416px;
}

.hero-button-link:hover::after,
.hero-button-link:focus::after {
  background-color: var(--green-hero-hover);
}

.hero-button {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  z-index: 5;
  line-height: 1.55556;
}

.hero-button-link::after {
  content: '';
  width: 165px;
  height: 92px;
  z-index: -1;
  margin-left: -83px;
  background-color: #00b06833;
  border-radius: 16px;
  transition: background-color 0.2s var(--hover-effect);
}

.text-hero {
  font-weight: 400;
  font-size: 18px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  /* margin-bottom: 72px; */
}

.back-color {
  background-color: var(--light-grey);
  padding-top: 32px;
  padding-bottom: 32px;
}
.span-color {
  color: var(--accent-green);
}

.inline-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.li-fone {
  width: 87px;
  display: flex;
  justify-content: center;
}

.li-fone:hover,
.li-fone:focus {
  color: rgba(0, 176, 104, 1);
}

.img-title {
  fill: var(--accent-green);
}
.img-hero-people {
  display: none;
}

.hero-column {
  margin: 40px 0 72px 0;
}

@media screen and (max-width: 359px) {
  .hero-button-link {
    max-width: 100%;
    gap: 8px;
  }

  .hero-button {
    font-size: 16px;
  }

  .hero-button-link::after {
    width: 120px;
    height: 70px;
    margin-left: -60px;
  }

  .title-names-one {
    font-size: 52px;
  }

  .title-names-two {
    font-size: 52px;
  }
}

@media screen and (max-width: 767px) {
  .li-fone {
    margin: 0 auto;
  }
  .hero-section {
    padding-top: 105px;
    background-image: -webkit-image-set(
      url(../img/background/decor-bg1.avif) 1x,
      url(../img/background/decor-bg1-2x.avif) 2x
    );
    background-repeat: no-repeat, no-repeat;
    background-position: top right;
  }
  .hero-container {
    background-image: -webkit-image-set(
      url(../img/background/decor-bg2.avif) 1x,
      url(../img/background/decor-bg2-2x.avif) 2x
    );
    background-repeat: no-repeat, no-repeat;
    background-position: bottom right;
    background-size: 180px 140px;
  }

  .text-hero-container {
    margin-top: 40px;
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 100px;
    background-image: -webkit-image-set(
      url(../img/background/decor-bg1.avif) 1x,
      url(../img/background/decor-bg1-2x.avif) 2x
    );
    background-repeat: no-repeat, no-repeat;
    background-position: top right;
    background-size: 1000px 700px;
  }
  .hero-column {
    margin: 60px 0 80px 0;
  }
  .text-hero-container {
    margin-top: 44px;
  }


  .title-names-one {
    /* padding-top: 88px; */
    font-size: 136px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    text-transform: uppercase;
  }

  .title-names-two {
    font-size: 136px;
    line-height: 1.15;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    color: #00b068;
    /* margin-bottom: 60px; */
  }

  .hero-button {
    font-size: 20px;
    line-height: 1.6;
  }

  .hero-button-link::after {
    margin-left: -107px;
    width: 261px;
    height: 96px;
  }

  .text-hero {
    font-size: 20px;
    /* margin-bottom: 80px; */
    max-width: 704px;
    max-height: 96px;
  }

  .back-color {
    display: flex;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .inline-list {
    flex-direction: row;
    gap: 40px;
  }

  .img-hero-people {
    display: none;
  }
}

@media screen and (min-width: 1280px) {
  .hero-section {
    padding-top: 200px;
    background-image: -webkit-image-set(
      url(../img/background/decor-bg1.avif) 1x,
      url(../img/background/decor-bg1-2x.avif) 2x
    );
    background-repeat: no-repeat, no-repeat;
    background-position: top right;
    background-size: 1500px 900px;
  }

  .title-names-one {
    margin-right: 40px;
    display: inline-block;
  }

  .hero-button-link {
    margin-left: 76px;
  }

  .text-hero {
    padding-left: 136px;
  }

  .back-color {
    background: var(--light-grey);
    padding: 40px 0px;
  }
  .span-color {
    color: #00b068;
  }
  .span-button {
    display: flex;
    text-align: left;
  }

  .inline-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }

  .inline-list li {
    margin-right: 40px;
  }
  .hero-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 130px;
    margin-top: 80px;
  }
  .img-hero-people {
    display: block;
    display: inline-block;
  }
  .text-hero-container {
    margin-top: 44px;
  }
  .text-hero-container {
    margin: 0;
  }
}
