h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

:root {
  --text: #292929;
  --accent-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --light-accent: #bcdfd1;
  --green-hero-hover: rgba(0, 176, 104, 0.6);
  --background-work-together-backdrop: rgba(41, 41, 41, 0.8);
  --gray-visit-hover: #bbb;
  --hover-effect: cubic-bezier(0.4, 0, 0.2, 1);
  --reviews-slider-btn-border: #bfbfbf;
}

.dark-theme {
  --text: #f0f0f0;
  --accent-green: #14c57c;
  --white: #1e2023;
  --light-grey: #2a2d32;
  --light-accent: #204136;
  --green-hero-hover: rgba(20, 197, 124, 0.6);
  --background-work-together-backdrop: rgba(30, 32, 35, 0.8);
  --gray-visit-hover: #3b3f45;
  --reviews-slider-btn-border: #2a2d32;
}