/* ------------------- MOBILE -------------------  */
.reviews {
  padding-bottom: 144px;
}
.title-reviews {
  font-family: 'Impact', sans-serif;
  font-weight: 400;
  font-size: 52px;
  line-height: 1.23077;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
}

.menu-reviews .menu-item-reviews:nth-child(2) {
  display: none;
}

.menu-item-reviews {
  border-radius: 16px;
  padding: 32px;
  width: 320px;
  height: 296px;
  background: #e4e5e6;
}

.container-reviews {
  display: flex;
  padding-top: 24px;
  width: 256px;
  height: 40px;
}

.feat-icon {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: #a0d5c5;
  object-fit: cover;
}

.para-img {
  font-weight: 600;
  padding-left: 16px;
}

.container-icon {
  display: flex;
  width: 96px;
  height: 40px;
  float: right;
  margin-top: 24px;
}

.icon-arrow-left,
.icon-arrow-rigth {
  display: inline-block;
  border-radius: 8px;
  padding: 12px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon-disabled {
  border: 1px solid #e4e5e6;
  cursor: not-allowed;
  opacity: 0.5;
  pointer-events: none;
}

.icon-active {
  border: 1px solid #292929;
  background-color: #ffffff;
  cursor: pointer;
  opacity: 1;
}

.icon-active:hover {
  background-color: #e4e5e6;
}

.icon-arrow-left {
  stroke: #e4e5e6;
  fill: none;
  border: 1px solid #e4e5e6;
  transform: rotate(-180deg);
}

/* Right arrow */
.icon-arrow-rigth {
  stroke: #292929;
  fill: none;
  border: 1px solid #292929;
  margin-left: 16px;
}

/* Active left arrow */
.icon-arrow-left.icon-active {
  stroke: #292929;
}

/* Disabled left arrow */
.icon-arrow-left.icon-disabled {
  stroke: #e4e5e6;
}

/* Disabled right arrow */
.icon-arrow-rigth.icon-disabled {
  stroke: #e4e5e6;
}

/* ------------------- TABLET ------------------- */
@media screen and (min-width: 768px) {
  .reviews {
    padding-bottom: 188px;
  }

  .title-reviews {
    font-size: 108px;
    line-height: 1.14815;
    letter-spacing: 0.02em;
    margin-bottom: 60px;
  }

  .menu-item-reviews {
    width: 704px;
    height: 224px;
  }

  .container-reviews {
    width: 640px;
    height: 40px;
  }

  .feat-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #a0d5c5;
    object-fit: cover;
  }
}

/* ------------------- DESCTOP ------------------- */
@media screen and (min-width: 1280px) {
  .reviews {
    padding-bottom: 236px;
  }

  .title-reviews {
    margin-bottom: 80px;
  }
  .menu-reviews .menu-item-reviews:nth-child(2) {
    display: block;
  }

  .menu-reviews {
    display: flex;
    justify-content: center;
    gap: 32px;
  }

  .menu-item-reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 592px;
    min-height: 224px;
  }

  .container-reviews {
    display: flex;
    width: 528px;
    min-height: 40px;
    padding-top: 32px;
  }

  .feat-icon {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #a0d5c5;
    object-fit: cover;
  }

  .container-icon {
    width: 120px;
    height: 48px;
  }

  .icon-arrow-left {
    /* stroke: #e4e5e6;
            fill: none;
            border: 1px solid #e4e5e6;
            border-radius: 8px;
            padding: 12px; */
    width: 48px;
    height: 48px;
    /* transform: rotate(-180deg); */
  }

  .icon-arrow-rigth {
    /* stroke: #292929;
            fill: none;
            border: 1px solid #292929;
            border-radius: 8px;
            padding: 12px; */
    width: 48px;
    height: 48px;
    /* margin-left: 24px; */
  }
}
